@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap");

input:focus-within {
  outline: none;
}

*::-webkit-scrollbar {
  width: 0px;
}
