@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./theme.css";

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: "Poppins", sans-serif;
}

input:focus-within,
select:focus-within {
  outline: none;
}

*::-webkit-scrollbar {
  width: 0px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
